# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.env

# replit
/.cache
/.config
.gitattributes
.replit
replit.nix
replit_zip_error_log.txt
/.upm

npm-debug.log*
yarn-debug.log*
yarn-error.log*
